body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.parent-div {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.android-large---1-189 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 0;
  background: linear-gradient(180deg, #393939ff 0%, #39393900 100%);
}

/* Update the widths and positions based on percentage for responsiveness */
.arrow-11-0-144 {
  width: 5%;
  height: auto;
  top: 5%;
  left: 5%;
}

.rectangle-1-1-0,
.rectangle-8-1-315,
.rectangle-2-1-416,
.rectangle-6-1-40,
.rectangle-7-1-363 {
  width: 100%;
}

.truth-untold-1-3832,
.learn-more-1-100,
.europa-the-last-1-1528,
.the-tenepisode--0-2262,
.europa-the-last-1-2790 {
  width: 80%;
  left: 10%;
}

/* Add media query for smaller screens */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  /* Update specific styles for screens with a maximum width of 600 pixels */
  .arrow-11-0-144 {
    width: 10%;
    left: 5%;
  }

  .truth-untold-1-3832,
  .learn-more-1-100,
  .europa-the-last-1-1528,
  .the-tenepisode--0-2262,
  .europa-the-last-1-2790 {
    width: 90%;
    left: 5%;
  }
}
